html {
    background: #0c1c21;
    font-family: 'Muli', sans-serif;
}

body {
    margin: 0;
}

html,
body,
.container {
    width: 100%;
    height: 100%;
    min-width: 800px;
    min-height: 500px;
}

.canvas {
    width: 100%;
    margin: 0;
}

svg {
    /*width: 100%;*/
}

.nowDay,
.oneDay {
    transition: all;
}

.nowDay line {
    stroke-width: 1;
    stroke: #666;
}
.nowDay text{
    text-anchor: middle;
}
.nowDay .dayName {
    fill: #93bc8e;
    font-size: 10px;
}
.nowDay .dayTitle {
    fill: #d3e0d1;
    font-size: 10px;
}
.nowDay rect {
    fill: #0c1c21;
    opacity: .7;
}

.hidden {
    display: none;
    visibility: none;
}
.selected{
    stroke:#d3e0d1 !important;
    stroke-width:1px !important;
}
.axis path {
    opacity: 0;
}

.axis text {
    fill: #acacac;
}
.axisLable{
    fill:#acacac;
    font-size: 10px;
}
#titleContainer {
    width: 100%;
    display: flex;
    height: 20%;
}

.title {
    color: #afaeae;
    font-size: 24px;
    width: 30%;
    padding: 25px 50px;
}

#description {
    color: #767676;
    width: 70%;
    font-size: 12px;
    padding: 25px 20px;
}

#description input {
    background: none;
    border: 1px solid #93bc8e;
    border-radius: 2px;
    width: 50px;
    color: #93bc8e;
}

#description input:focus {
    outline: none;
}

#description p {
    width: 100%;
}

.number {
    color: #93bc8e;
    font-size: 16px;
}

.strong {
    font-size: 16px;
    color: #93bc8e;
}


#cover {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    height: 100%;
    background: #0c1c21;
}

#cover .background {
    width: 87.5%;
    height: 125%;
    left: 7.5%;
    top: 2.5%;
    z-index: 101;
    position: fixed;
}

#cover .typewriter {
    z-index: 200;
    position: fixed;
    top: 25%;
    text-align: center;
    width: 100%;
}

#cover #explore,
#cover .loading {
    width: 100%;
    text-align: center;
    z-index: 200;
    position: fixed;
}

#cover #explore {
    top: 65%;
}

#cover .loading {
    top: 65%;
    color: #afaeae;
    font-size: 16px;
}

#cover div img {
    width: 20px;
    height: auto;
}

#cover div a {
    border: none;
    background: none;
    color: #93bc8e;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
}

.typewriter p {
    width: 100%;
    color: #93bc8e;
    font-size: 24px;
    line-height: 140%;
    white-space: nowrap;
    overflow: hidden;
}



.loading {
    animation: blink 1.5s infinite;
}



@keyframes blink {
    to {
        opacity: .1;
    }
}